<p>{{get this.nums 0}} : {{get this.errors 0}}</p>
<p>{{get this.nums 1}} : {{get this.errors 1}}</p>
<p>{{get this.nums 2}} : {{get this.errors 2}}</p>
<p>{{get this.nums 3}} : {{get this.errors 3}}</p>
<p>{{get this.nums 4}} : {{get this.errors 4}}</p>